.contenido{
    background: #ededed;
    padding: 4cm 5cm;
    font-family: sans-serif;
    border-left: 5px  solid  #999;
    border-radius: 100px;
    border-right: 5px solid #999;
    width: 40%;
    margin-top: 250px ;
    background-color: #dad6ff;
    background-image: url("arbol.jpg");
    background-size: cover ;
    background-position: 10px 0px 5px 10px ;
    background-repeat: no-repeat;

    height: 300px;
    overflow: auto;
    overflow-x: hidden;
}

.contenido::-webkit-scrollbar {
    display: none;  /* Oculta la barra de desplazamiento */
}

.p2 {
    position: absolute;
    top: 15px; /* Ajusta la posición en la parte superior */
    left: 50%;
    background-color: #0004;
    transform: translateX(-40%);
    font-size: 18px;
    font-weight: bold;
    color: #333;
    width: 25%;
    text-align: center;
    padding: 5px;
    border-radius: 100cm;
    margin-top: 5%;
}

h1 {
    margin: 0;
    width: 150%;
    padding: 20px;
}

span {
    color: #999;
    font-size: 16px;
    font-weight: 100;
}

.p1 {
    color: #555;
    width: 40%;
}

body {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 70vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    background-color: #0ef; /* Opcional, para ver mejor el centrado */
}
