h1 {
    padding: 500x 50px 50px 500px;
    color: yellowgreen;
    background-color: black;
    border-radius: 100%;
    align-items: center;
    width: 550px;
    border: 10px solid yellowgreen;
    font-size: 80px;
}

body{
    background-color: wheat;
}
script{
    color: aliceblue;
}
#resultado {
    color: yellowgreen;
    background-color: black;
    padding: 20px;
    align-items: center;
    text-align: center;
    border: 4px solid  yellowgreen ;
    font-size: 18px;
    width: 50%;
    border-radius: 10%;
    margin: 20px auto;
}