.box{
    background-color: #f00;
    width: 100px;
    height: 100px;
    margin: 20px;
    margin-top:200px;
    border: 5px solid #000;
    outline-color: #0f0;
    outline-style: solid;
    outline-width: 5px;
    outline-offset: 10px;
    
}
body{
    margin: 0;
    
}