<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Layout</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='layout.css'>
    <link rel="icon" type="image/png" href="/consulta/icono.png">
    <script src='main.js'></script>
</head>
<body>
    <header class="header">
        <div class="header_overlay"></div>
        <div class="header_item-container">
            <img src="../../textarea_labels/blank-profile.png" class="header_img">
            <h1>Ada 13 edición 2024</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Dolore quasi eveniet odit saepe optio deserunt quia consequatur asperiores, 
                aliquid est quam delectus suscipit velit eaque. Eius ex repellat vel earum.
            </p>
        </div>
    </header>

    <nav class="nav">
        <ul class="nav_ul">
            <li class="nav_item"><a href="#" class="nav_link">Home</a></li>
            <li class="nav_item"><a href="#" class="nav_link">About</a></li>
            <li class="nav_item"><a href="#" class="nav_link">Contact</a></li>
            <li class="nav_item"><a href="#" class="nav_link">Log in</a></li>
        </ul>
        <img class="nav_log" src="images.png" alt="Imagen adicional" width="70">
    </nav>

    <div class="content">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae error, adipisci facere laborum neque velit explicabo mollitia provident repudiandae at perferendis fugit ullam ab reiciendis cupiditate?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident quod odio iusto animi consequatur recusandae. Blanditiis officia odit corrupti distinctio placeat ratione mollitia, qui pariatur eius soluta est recusandae provident.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsa nulla culpa asperiores unde explicabo, ex amet totam! Molestias velit tempora ipsa maxime animi cum exercitationem similique esse beatae quaerat.
        </p>
        <p style="height: 200vh;">
            ⬆ Agregué mucho espacio aquí para que puedas hacer scroll y ver cómo la barra de navegación se mantiene fija arriba.
        </p>
    </div>
</body>
</html>
