p{
    height: 100vh;
    width: 100vh;
    font-size: 40px;
    color: rebeccapurple;
   padding: 0px 30%;
}
.yellow {
    color: yellow;
}

body{
    background-color: #000
    
}

h2{
    color: tomato;
    font-size: 50px;
    text-align: center;

}
