body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #799fd8;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
  }
  
  h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 25px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #fafafa;
    cursor: pointer;
  }
  
  input[type="file"]:hover {
    border-color: #007bff;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .resultado {
    margin-top: 20px;
    color: green;
    text-align: center;
  }
  