body{
    margin: 0;
    background-color: #000;
    font-family: sans-serif;
}

.box{
    width: 240px;
    height: 540px;
    background-color: #f00;
    color: #cfcec1;
    position: relative;
    border: 2px solid #fff;
    left: 2px;
    margin: auto;
    margin-top: 50px;
    white-space: pre;
    text-overflow: clip;
    overflow: hidden;

}