body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(../dalto/padding_and_margin/G0017077.JPG);
    background-size: cover;
    margin: 20px;
    background-color: #f4f4f4;
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(59, 53, 53, 0.5); 
    z-index: -1;
}
.container {
    background: #000;
    color: #f4f4f4;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 490px;
    margin: auto;
    width: 50%;
    
}

button {
    margin-top: 29px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #e0d318;
    color: #2d2788;
    border-radius: 20px;
    border: 2px solid #fff;
}

button:active {
    background-color: #d1c70f; /* Un amarillo m치s oscuro para el estado de "active" */
    transform: scale(0.98); /* Le da un efecto de presionar (ligera reducci칩n de tama침o) */
}

#resultado {
    margin-top: 20px;

}
h1 {
    background-image: url(../consulta/logo.png);
    background-repeat: no-repeat;
    background-size: 400px; /* Hace que la imagen cubra todo el h1 */
    background-position: top center; /* Mueve la imagen m치s arriba */
    height: 95px; /* Asegura que haya suficiente espacio para la imagen */
    margin: 0;
    padding: 0; /* Elimina el padding para que la imagen no se desplace */
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Asegura visibilidad del texto */
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #ecde0e; /* Amarillo */
    color: #2d2788; /* Azul */
    border: 2px solid #fff;
    font-size: 23px;
   
}

