body{
    background-color: #c7c3c3;
    margin: 0;
    font-family: sans-serif;
}
div, body {
    box-sizing: border-box;
}
.flexbox{
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    align-items: center;
    border: 2px solid #000;
    gap: 40px;
    
}
.flex-item:nth-child(2n){
    background-color: #f77;
}

.flex-item{
    background-color: #911;
    color: #fff;
    font-size: 40px;
    text-align: center;
    flex: 1 1 100px;

}


.flex-item:last-child {
    background-color: #000;
   
}
