.blue {
    color: blue;
    font-size: 38px;
    font-family: sans-serif,'Times New Roman', Times, serif;
    font-weight: 900;
    text-align: center;
}
.texto {
    color: red;
    font-weight: 400;
    text-align: center;
}

a {
    text-decoration: none;
    color: gray;
}